form { margin: 0; padding: 0.5em; background-color: #ddf; }

table { border: 1px solid #999; }
th { text-align: left; background: #eee; }
td { vertical-align: top; }
td.number { text-align: right; }
td.description { width: 1px; white-space: nowrap; }
td.center { text-align: center; }
tr.rowodd { background: #fff; }
tr.roweven { background: #eee; }

ul.compact { margin: 0; padding: 0; width: 30em; overflow: hidden; }
ul.compact li { list-style-type: none; display: inline; margin-right: 1em; }

.integer { width: 2em; text-align: right; }

input, select, textarea { font-size: 1em; font-family: inherit; }

.column { white-space: nowrap; }

.foreigntable { margin-bottom: 1em; }

.typename { width: 8em; }

#title { float: left; margin: 0; }
#id { float: right; }
#messages { clear: both; }

.important { font-weight: bold; }

.error, .problem { font-weight: bold; color: #f00; }

.trace { white-space: nowrap; }

#logs { border: 1px solid #ccc; background-color: #eee; color: #999; white-space: nowrap; }
#logs .queryroot { padding-left: 2em; }
#logs .querymeta { padding-left: 4em; }
#logs .querydata { padding-left: 6em; }
