* { margin: 0; border: 0; padding: 0; font-family: sans-serif; }
body { margin: 0.5em; overflow-y: scroll; }

#header { background-color: #ddd; margin-bottom: 0.5em; padding: 0 0 0.4em 0.5em; height: 3.5em; }
#header #id { float: right; }
#header #id ul { float: left; padding: 0; margin: 0.2em 0.5em; }
#header #id ul li { list-style-type: none; }
#header #id #preferences li { font-size: 70%; text-align: right; }
#header h1 { display: inline; margin-right: 0.5em; }
#header #breadcrumbs { font-size: small; margin-top: 0.3em; }
#header #breadcrumbs li { margin-right: 0; }
#header #breadcrumbs li.notfirst:before { content: '\a0\a0\bb\a0\a0'; }

#content { clear: both; }
.box { border: 0.1em solid #999; }
.box.closing { border-color: #f00; }
.tableedit { padding-bottom: 0.5em; }
.tableedit td, .tablelist th, .formmetabasefordatabase th, .tablelist tr.quickadd td, label { white-space: nowrap; }
tr.quickadd label { display: block; font-style: italic; font-size: small; }
.referringlist.tablelist { margin-bottom: 1em; }
.referrer { font-size: small; margin-left: 0.5em; }

a, .clickable { color: #00e; text-decoration: underline; cursor: pointer; }
a:hover, .clickable:hover { background-color: #00e; color: #fff; }
.clickable { display: inline-block; margin: 0 0.5em; }
p { margin: 0.5em 0; }

.secondary { color: #aaa; }
.secondary a { color: #aae; }
.secondary a:hover { background-color: #aae; color: #fff; }

table { width: 100%; border-collapse: collapse; background-color: #fff; }
th, td { padding: 0.1em; vertical-align: top; width: 1%; }
th { text-align: left; background-color: #fff; font-weight: normal; font-style: italic; font-size: small; }
th.heading { font-weight: bold; font-style: normal; font-size: medium; }
tr.rowodd { background-color: #ddd; }
tr.rowodd td.top, tr.roweven { background-color: #eee; }
td.active { background-color: #ffc; }
td.description { width: 0.1em; height: 1.5em; }
td.number { text-align: right; }
th.center, td.center { text-align: center; }
th.filler, td.filler { width: 99%; }
td div, td ul { white-space: nowrap; }
.help { color: #999; font-size: x-small; position: relative; bottom: 0.4em; }

ul, ol { padding: 0.5em 2.5em; }
ul.compact { margin: 0; padding: 0; overflow: hidden; }
ul.compact li { list-style-type: none; display: inline; margin-right: 1em; }

fieldset { border: 0.1em solid #ccc; padding: 0.2em; }
input[type="text"] { width: 30em; }
input, textarea, select, option { font-size: medium; }
input, textarea, option { padding: 0 0.2em; }
input, textarea, select { background-color: #ffe; border: 0.1em solid #999; }
input:focus, select:focus, textarea:focus { background-color: #ffc; }
select { height: 1.35em; }
optgroup { color: #666; background-color: #ddd; font-size: x-small; text-align: center; font-style: normal; }
option { color: #000; background-color: #fff; font-size: medium; text-align: left; height: 1.2em; }
input.readonly, select.readonly { border-color: #ccc; background-color: #eee; color: #999; }

ul.minimal { margin: 0; padding: 0; }
ul.minimal li { list-style-type: none; }
ul.minimal li .radio { margin-right: 0.3em; }
input.submit, input.button { border: 0.15em solid #ccc; border-color: #ccc #666 #666 #ccc; background-color: #eee; color: #33f; padding: 0 0.2em; }
input.submit, input.button, .fullrecord, .cancel { margin-right: 1em; }
input.submit:hover, input.button:hover { background-color: #ddd; }
input.button.deleterecord:hover, .cancel:hover, .drop:hover, .forget:hover, .close:hover { background-color: #f00; color: #fff; }
.cancel, .close { padding: 0.1em 0.5em; }
.close { margin-left: -0.1em; }
.drop { margin-left: 1em; }
.inlistforquickadd { background-color: #fda; }

label.altsubmit { margin: 0 1em 0 -0.5em; padding: 0 0.5em; }
label.altsubmit input { margin-right: 0.3em; }

.ajaxindent { margin: 0 0.5em; }
.ajaxproblem { border-color: #c00; }
td.ajaxincompatible { background-color: #f90; }

.column { white-space: nowrap; }
.thisrecord { display: none; }

.offsets { margin: 0; padding: 0; }
.offsets li { list-style-type: none; display: inline; margin-right: 1em; }

.foreigntable { margin-bottom: 1em; }

.pluralsingular input { width: 8em; }
.alternative input { margin-right: 0.4em; }
.alternative select { margin-left: 0.4em; }

input.title { width: 8em; }
.presentationname { width: 11em; }

.important { font-weight: bold; }

.error { padding: 1em; margin-bottom: 0.5em; }
.warnings, .messages { padding: 0; }
.warnings li, .messages li { list-style-type: none; padding: 0.3em; }
.error, .warnings, .warning, .messages { font-weight: bold; }
.error { background-color: #f00; color: #fff; }
.warnings, .warning { background-color: #f60; color: #fff; }
.messages { background-color: #090; color: #fff; }
.reason { color: #f60; }

.trace { white-space: nowrap; }

#footer { margin-top: 0.5em; overflow: hidden; }
#footer #poweredby { float: right; }
#footer #poweredby:hover { background-color: inherit; }

.logs { border: 0.1em solid #ccc; background-color: #eee; color: #999; clear: both; white-space: normal; }
.logs>li { margin-bottom: 0.5em; }
.logs ol { padding: 0; margin-left: 1em; }
.logs .arrayshow { margin-left: 1em; }
.logs .arrayshow:hover { white-space: pre; }
.togglelogs, .logs a { color: #99e; }
.togglelogs:hover { background-color: #99e; color: #fff; }

.lastusernamesandhosts label { width: 12.4em; display: inline-block;}
#usernameandhost, #password, #databasename, #metabasename, #tables { width: 16em; }
#usernameandhost.afterradio { width: 15em; }
#language { width: 16.5em; }

/* css_* */
